{
  "extends": ["next", "next/core-web-vitals", "eslint:recommended"],
  "rules": {
    "no-unused-vars": "off",
    "react-hooks/exhaustive-deps": "off",
    "@next/next/no-img-element": "off"
  }
}
