.container {
  padding: 20px;
}

.panel {
  height: 620px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #333;
  background: #2f3129;
  width: 500px;
  position: relative;
}

.toolbar {
  min-height: 30px;
  padding: 0 4px;
  background: #2f3129;
  display: flex;
  align-items: center;
}

.toolbar > p {
  color: #f8f8f2;
  margin: 0 0 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.compilebutton {
  height: 24px;
  padding: 0;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202020;
  color: #f8f8f2;
  border-radius: 50%;
  border: 0;
}

.compilebutton:hover {
  background: #49483E;
}

.placeholder {
  margin: 10px;
  color: var(--gray);
}

.placeholder a {
  color: var(--blue);
}

.placeholder a:hover {
  color: var(--purple);
  text-decoration: underline;
}
