.container {
  height: 100%;
  padding: 20px;
}

.panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #333;
  background: #2f3129;
  width: 500px;
}

.toolbar {
  height: 30px;
  background: #2f3129;
  display: flex;
  align-items: center;
}

.nameinput {
  margin-left: 4px;
  background: #272822;
  border: 0;
  color: #f8f8f2;
}

.placeholder {
  margin: 10px;
  color: var(--gray0);
}
