.container {
  height: 100%;
  padding: 20px;
}

.panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #333;
}

.toolbar {
  height: 30px;
  background: #2f3129;
}
