.container {
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.spritedraw {
  border: 4px solid #000;
}

.toolbar {
  background: var(--main2);
  color: var(--gray);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
