.container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.spritedraw {
  border: 4px solid #000;
}

.toolbar {
  background: var(--gray);
  border-radius: 32px;
  box-shadow: 0 0 4px #999;
  margin-top: 10px;
  color: var(--main0);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.toolbar > input {
  flex-grow: 1;
  margin-left: 5px;
}
