.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 100%;
  height: calc(100% - 60px);
}

.toolbar {
  flex: 0 0 60px;
  background: var(--gray0);
  width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.draw {
  text-align: center;
}

.drawtiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tileselect {
  display: flex;
}
