.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.toolbar {
  height: 60px;
  background: var(--gray0);
  width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
}

.draw {
  text-align: center;
}

.draw > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
