.container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.draw {
  text-align: center;
}

.drawtiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tileselect {
  display: flex;
}
