.container {
  background: var(--white);
  min-height: 100%;
}

.container > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  color: var(--black);
}

.container > h1 > svg {
  margin-right: 5px;
}

.projects {
  display: flex;
  margin: 10px 20px;
  flex-wrap: wrap;
}
