.container {
  background: var(--white);
  min-height: 100%;
}

.container > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  color: var(--black);
}

.container > h1 > svg {
  margin-right: 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  margin: 10px 20px 20px 20px;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .projects {
    justify-content: center;
    max-width: 900px;
  }
}

@media (min-width: 1000px) {
  .projects {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .projects {
    width: 1128px;
  }
}

@media (min-width: 1400px) {
  .projects {
    width: 1316px;
  }
}
