.container {
  background: var(--white);
  min-height: 100%;
}

.container > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  color: var(--black);
}

.container > h1 > svg {
  margin-right: 5px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tabs > button {
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 16px;
}

.tabs > button.selected {
  text-decoration: underline;
}

.tabs > button:hover {
  color: var(--blue);
}

.tabs > button:nth-of-type(2) {
  margin: 0 10px;
}

.content {
  display: flex;
  justify-content: center;
}
