.container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gray0);
}

.center {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.center a {
  color: var(--blue0);
}

.center a:hover {
  color: var(--purple);
  text-decoration: underline;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.title > h1 {
  margin: 0;
}

.title > div {
  margin-right: 5px!important;
}

.center > button {
  padding: 10px 20px;
  background: var(--white);
  border-radius: 8px;
  border: 2px solid #dadee3;
  transition: 0.25s;
}

.center > button:hover {
  background: var(--blue0);
  border: 2px solid var(--purple);
  color: var(--white);
}

.accordion {
  margin: 20px;
}

.footer {
  background: var(--gray2);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
}

.footer > a:hover {
  text-decoration: underline;
}
