.container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary);
}

.center {
  color: var(--gray);
  text-align: center;
}

.logo {
  margin-top: 32px;
}

.center > h2 {
  font-size: 32px;
  margin: 20px 40px 15px 40px;
}

.center > p {
  line-height: 30px;
  margin: 5px 40px 20px 40px;
}

.links {
  margin: 25px 0 50px 0;
}

.links > a {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--gray);
  color: var(--gray);
  transition: 0.25s;
}

.links > a:hover {
  color: var(--highlight);
  border-color: var(--highlight);
}

.middle {
  background: var(--primary);
  padding-bottom: 10px;
}

.banner {
  margin-top: 10px;
  height: 128px;
  width: 200%;
  min-width: calc(432px * 2);
  background: url('/img/banner.png');
  animation: slide 12s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-432px);
  }
  100% {
    transform: translateX(0);
  }
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  margin: 20px 20px 0 20px;
  line-height: 30px;
  width: calc(100% - 80px);
  max-width: 800px;
}

.accordion a {
  color: var(--blue);
}

.accordion a:hover {
  color: var(--purple);
  text-decoration: underline;
}

.footer {
  color: var(--gray);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
}

.footer > a:hover {
  text-decoration: underline;
}
