.container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main2);
}

.center {
  color: var(--gray);
  text-align: center;
}

.logo {
  margin-top: -110px;
}

.center > h2 {
  margin: 20px 40px 15px 40px;
}

.center > p {
  line-height: 30px;
  margin: 5px 40px 20px 40px;
}

.links {
  margin: 25px 0 50px 0;
}

.links > a {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--gray);
  color: var(--gray);
  transition: 0.25s;
}

.links > a:hover {
  color: var(--main4);
  border-color: var(--main4);
}

.bottom {
  background: var(--main0);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.examples {
  margin-top: -60px;
}

.examples > div {
  margin: 10px!important;
  border: 4px solid var(--gray);
  border-radius: 8px;
}

.accordion {
  margin: 20px;
  line-height: 30px;
  width: calc(100% - 80px);
  max-width: 800px;
}

.accordion a {
  color: var(--blue);
}

.accordion a:hover {
  color: var(--purple);
  text-decoration: underline;
}

.footer {
  margin-top: -20px;
  background: var(--main0);
  color: var(--gray);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
}

.footer > a:hover {
  text-decoration: underline;
}
