.container {
  min-height: 100%;
  width: fit-content;
  min-width: 100%;
  background: var(--white);
}

.main {
  padding: 20px 40px 60px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.center > h1 {
  margin: 0;
}

.remix {
  font-size: 16px;
  margin-left: 10px;
}

.center a {
  color: var(--blue);
}

.center a:hover {
  color: var(--purple);
  text-decoration: underline;
}

.description {
  margin: 0;
}

.editlink {
  margin: 10px 0;
  width: fit-content;
}

.editlink > a {
  margin-right: 8px;
}
