.container {
  height: var(--page);
  width: fit-content;
  min-width: 100%;
  background: var(--white);
}

.main {
  padding: 20px 40px 60px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.center > h1 {
  margin: 0;
}

.remix {
  font-size: 16px;
  margin-left: 10px;
}

.center a {
  color: var(--blue);
}

.center a:hover {
  color: var(--purple);
  text-decoration: underline;
}

.description {
  margin: 0 0 5px 0;
}

.actions {
  margin: 10px 0;
  width: fit-content;
}

.actions > button {
  background: #efefef;
  border: 0;
  padding: 2px 5px;
  margin-right: 8px;
  border-radius: 4px;
  box-shadow: 0 0 3px #999;
}

.delete {
  color: red;
}

.actions > button:hover {
  background: #ddd;
}
