.container {
  height: var(--page);
}

.content {
  padding: 20px;
}

.head {
  margin: 0 10px 20px 10px;
}

.head > h1 {
  margin: 0;
}

.head > p {
  margin: 0;
}

.description > p {
  font-style: italic;
  margin: 16px 0 0 0;
}

.description > input {
  margin: 16px 0 0 0;
  height: 19px;
}

.description > button {
  border: 0;
  box-shadow: 0 0 3px #000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 20px;
  background: #efefef;
}

.description > button:hover {
  background: #ddd;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects > p {
  margin: 0 10px;
}
