.container {
  height: var(--page);
}

.content {
  padding: 20px;
  margin: 0 auto;
  width: fit-content;
}

.head {
  margin: 0 10px 20px 10px;
  display: flex;
}

.head > div {
  width: 50%;
}

.title {
  display: flex;
  align-items: center;
}

.title > label {
  border-radius: 50%;
  margin-right: 8px;
}

.title img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.title h1 {
  margin: 0;
  font-size: 20px;
}

.title p {
  margin: 0;
}

.private {
  margin: 10px 0;
}

.private > h1 {
  margin: 0;
  font-size: 16px;
}

.private > p {
  font-style: italic;
  margin: 8px 0;
  font-size: 12px;
}

.fields {
  display: flex;
}

.fields > div {
  width: 50%;
}

.fields h1 {
  font-size: 16px;
  margin: 8px 0;
}

.fields textarea {
  width: calc(100% - 10px);
  height: 128px;
  font-size: 16px;
}

.fields > div > p {
  margin: 0 16px 0 0;
}

.description > button {
  border: 0;
  box-shadow: 0 0 3px #000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 20px;
  background: #efefef;
}

.description > button:hover {
  background: #ddd;
}

.featured > p {
  margin: 10px;
}

.featured > select {
  margin: 0 0 10px 10px;
  border: 2px solid #999;
  background: #efefef;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.main > p {
  margin: 10px;
}
