.container {
  background: var(--gray0);
  margin: 10px;
  width: 200px;
  padding: 20px;
  box-shadow: 0 0 2px #999;
  transition: 0.25s;
}

.container:hover {
  transform: scale(1.05);
}

.container h1 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 24px;
}

.container p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
