.container {
  position: relative;
}

.darkbuttons, .lightbuttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.darkbuttons button {
  color: #fff;
}

.lightbuttons button {
  color: #000;
}

.addbutton {
  width: 24px;
}

.togglebutton {
  padding: 4px;
  width: 36px;
  height: 36px;
}
