.container {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--primary);
  z-index: 1;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px #333;
  color: var(--black);
}

.icon {
  display: inline-block;
  margin: 0 5px;
}

.link {
  margin: 0 10px;
  color: #666;
}

.link:hover {
  color: var(--highlight);
}

.container > button {
  margin-right: 10px;
  color: #666;
}

.container > button:hover {
  color: var(--highlight);
}
