.container {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--main2);
  z-index: 10;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--gray1);
  color: var(--gray1);
}

.icon {
  display: inline-block;
  margin: 0 10px;
}

.link {
  margin: 0 10px;
}

.link:hover {
  color: var(--blue);
}

.container > button {
  margin-right: 10px;
  color: var(--gray1);
}

.container > button:hover {
  color: var(--blue);
}
