.container {
  width: 320px;
  height: 512px;
  border: 4px solid #000;
  background: #efefef;
  border-radius: 8px;
  margin: 20px;
  position: relative;
}

.powerbutton {
  position: absolute!important;
  left: 8px;
  bottom: 8px;
}

.screen {
  border: 4px solid #000;
  margin: 24px;
  background: #202020;
  border-radius: 4px;
}

.button {
  font-weight: bold!important;
  width: 32px;
  height: 32px;
  border-radius: 50%!important;
  min-width: 0!important;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrows {
  text-align: center;
}

.dummy {
  display: inline-block;
  width: 32px;
}

.dummysmall {
  display: inline-block;
  width: 8px;
}
