.container {
  height: 60px;
  width: 100%;
  position: fixed;
  background: #ddd;
  z-index: 10;
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  margin: 0 10px;
}

.container > button {
  margin: 0 10px;
}

.flexfill {
  flex-grow: 1;
}
